In [1]:
#Read the datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
benin_df=pd.read_csv('C:/Users/abenet/Desktop/data/benin-malanville.csv')
sierra_df=pd.read_csv('C:/Users/abenet/Desktop/data/sierraleone-bumbuna.csv')
togo_df=pd.read_csv('C:/Users/abenet/Desktop/data/togo-dapaong_qc.csv')

Incorrect entries for togo

In [2]:
columns=['GHI','DHI','DNI']
togo_df[columns]=togo_df[columns].clip(lower=0)
togo_df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,0.0,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,0.0,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,0.0,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,0.0,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,0.0,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

Incorrect entries for sierraleone

In [3]:
sierra_df[columns]=sierra_df[columns].clip(lower=0)
sierra_df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,0.0,0.0,0.0,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,0.0,0.0,0.0,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,0.0,0.0,0.0,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,0.0,0.0,0.0,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,0.0,0.0,0.0,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

Incorrect entries for benin

In [4]:
benin_df[columns]=benin_df[columns].clip(lower=0)
benin_df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,0.0,0.0,0.0,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,0.0,0.0,0.0,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,0.0,0.0,0.0,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,0.0,0.0,0.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,0.0,0.0,0.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

Incorrect entries for certain columns on the dataframe have been cleaned. Now, we check for outliers

outliers for togo

In [11]:
#using z-score analysis and threshold of 3
togo_df['z_score_ws']=(togo_df['WS']-togo_df['WS'].mean())/togo_df['WS'].std()
outlier1=togo_df[abs(togo_df['z_score_ws'])>3]
togo_df['z_score_moda']=(togo_df['ModA']-togo_df['ModA'].mean())/togo_df['ModA'].std()
outlier2=togo_df[abs(togo_df['z_score_moda'])>3]
togo_df['z_score_modb']=(togo_df['ModB']-togo_df['ModB'].mean())/togo_df['ModB'].std()
outlier3=togo_df[abs(togo_df['z_score_modb'])>3]
print(len(outlier1))
print(len(outlier2))
print(len(outlier3))

3510
137
206

outliers for sierraleone

In [12]:
#using z-score analysis and threshold of 3
sierra_df['z_score_ws']=(sierra_df['WS']-sierra_df['WS'].mean())/sierra_df['WS'].std()
outlier1=sierra_df[abs(sierra_df['z_score_ws'])>3]
sierra_df['z_score_moda']=(sierra_df['ModA']-sierra_df['ModA'].mean())/sierra_df['ModA'].std()
outlier2=sierra_df[abs(sierra_df['z_score_moda'])>3]
sierra_df['z_score_modb']=(sierra_df['ModB']-sierra_df['ModB'].mean())/sierra_df['ModB'].std()
outlier3=sierra_df[abs(sierra_df['z_score_modb'])>3]
print(len(outlier1))
print(len(outlier2))
print(len(outlier3))

3967
1604
2041

outliers for benin

In [14]:
#using z-score analysis and threshold of 3
benin_df['z_score_ws']=(benin_df['WS']-benin_df['WS'].mean())/benin_df['WS'].std()
outlier1=benin_df[abs(benin_df['z_score_ws'])>3]
benin_df['z_score_moda']=(benin_df['ModA']-benin_df['ModA'].mean())/benin_df['ModA'].std()
outlier2=benin_df[abs(benin_df['z_score_moda'])>3]
benin_df['z_score_modb']=(benin_df['ModB']-benin_df['ModB'].mean())/benin_df['ModB'].std()
outlier3=benin_df[abs(benin_df['z_score_modb'])>3]
print(len(outlier1))
print(len(outlier2))
print(len(outlier3))

3109
27
63